@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
body{
    width: 100%;
    background: #1F201F;
}
li{
    list-style: none;
}
hr{    
border: 1px solid rgba(255, 255, 255, 0.1);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
::-webkit-scrollbar {
    display: none;
}

/* main container */
main{
    
    background: #1F201F;
    /* width: 1440px;
    height: 1024px; */
    width: 1366px;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75px 240px 820px 240px;
}

/* ===========================left user section */
.left-user-section{
    height: 100%;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.7), rgba(44, 44, 44, 0.7)), linear-gradient(180deg, rgba(117, 66, 66, 0.69) 0%, rgba(71, 160, 150, 0.604167) 50%, rgba(87, 80, 13, 0) 100%);
}

.left-user-section nav{
    height: 100%;
    width: 100%;
}
.left-user-section nav li{
    height: 45px;
    width: 45px;
    background-color: #393A3A;
    margin:15px auto;
    border-radius: 15px;
}
.left-user-section nav li:first-child{
    margin-top:45px;
    background-color: #393838;
}
.left-user-section nav li:nth-child(2){
    background-color: #252423;
}
.left-user-section nav li .second-menu{
    color: white;
}
.left-user-section nav li .user{
    border-radius: 50%;
}

.left-user-section nav li a span{
    color: #9D9D9D;
    font-size: 20px;
}


/* ===========================left menus and projects section */
.left-menus-projects-fixed-section{
    overflow-y: auto;
    height: 100%;
    color: #BCBCBC;
    background: linear-gradient(0deg, rgba(44, 44, 44, 1), rgba(44, 44, 44, 0.7)), linear-gradient(180deg, rgba(117, 66, 66, 0.69) 0%, rgba(71, 160, 150, 0.604167) 50%, rgba(87, 80, 13, 0) 100%);
    white-space: nowrap;
}
.left-menus-projects-section{
    overflow-y: scroll;
    height: 95vh;
    user-select: none;
}
/* top */
.left-menus-projects-section .quick-find-container{
    display: flex;
    align-items: center;
    margin: 30px 0 15px 24px;
}
.left-menus-projects-section .settings-members-container{
    display: flex;
    align-items: center;
    margin: 0 0 20px 24px;
}
.left-menus-projects-section .pinned-container{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 24px;
}
.left-menus-projects-section .pinned-container div{
    display: flex;
    align-items: center;
}
.left-menus-projects-section div p{
    font-size: .7rem;
    margin: 0 0 0 15px;
}
.push-pin-modify{
    transform: rotate(40deg);
}
.arrow-modify{
    transform: rotate(-90deg);
}
/* projects */
.left-menus-projects-container{
    padding: 20px 20px 0 20px;
}
.projects-title-text{
    color: #545454;
}
.projects-folder-container, .projects-sub-folder-container, .projects-task-container{
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
}
.projects-sub-folder-container{
    margin-left: 18px;
}
.projects-task-container{
    margin-left: 40px;
}
.left-menus-projects-container .projects-last-folder{
    margin-bottom: 20px;
}
.left-menus-bottom-add-button{
    width: 100%;
    position: sticky;
    bottom: 0;
    background: rgba(32, 32, 32, 0.4);
backdrop-filter: blur(50px);
}
.left-menus-bottom-add-button p{
    font-size: .7rem;
}
.left-menus-bottom-add-button div{
    padding: 30px 0 15px 24px;
    z-index: 10;
}


/* ===========================main section*/
.main-section{
    overflow-y: scroll;
    color: #BCBCBC;
}
.main-section-top-two-section-container{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1F2221;
}
.main-section-top-bar{
    height: 80px;
    padding: 30px;
}
.search-box{
    background-color: #202020;
    height: 50px;
    padding-left: 30px;
}
.search-box input{
    height: 40px;
    width: 266px;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
}
.users-container{
    margin-right: 5px;
}
.main-section-top-right span:not(:last-child){
    margin-left: 10px;
}
/*------------------------- user section--------------------------- */
.user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 0px;
    left: 0px;
}
.user p{
    font-size: 10px;
    font-weight: 900;
}
.user-1{
    left: 14px;
    background-color: #283237;
    color: white;
}
.user-2{
    left: 7px;
    background-color: #5B34E1;
    color: white;
}
.user-3{
    left: 0px;
    background-color: red;
    color: white;
}
.user-4{
    left: -7px;
    background-color: #80C85B;
    color: white;
}
.user-5{
    left: -14px;
    background-color: #E39600;
    color: white;
}
.user-6{
    left: -21px;
}
.more-user-assigned{
    background-color: #283237;
    color: #BCBCBC;
}
.active-user::after{
    content: '';
    position: absolute;
    background-color: rgb(19, 158, 19);
    height: .55rem;
    width: .55rem;
    right: .3rem;
    top: -.1rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #191919;
}
/* second top bar */
.main-section-working-details-bar{
    height: 60px;
    padding-left: 52px;
}
.working-list-box{
    margin-right: 5%;
    color: white;
}
.working-list-box span{
    margin-right: 12px;
}
.working-board-box{
    margin-right: 10%;
    color: rgba(188, 188, 188, 0.5);
}
.working-board-box span{
    margin-right: 12px;
}
.working-users-container{
    margin-right: 54px;
}
.working-date-container{
    margin-right: 10%;
}
.working-date-container p{
    font-size: 12px;
}
.main-section-working-details-bar .flag{
    margin-right: 10%;
}
/* third bar design task */
.design-task-headline-container{
    height: 40px;
}
.design-task-headline-container h4{
    margin-left: 52px;
    color: rgba(255, 255, 255, 0.2);
}
/* main section task */
.task-section-container{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.task-section-container .expand-icon{
    margin: 0 10px 0 30px;
}
/*task header*/
.task-section-container .task-header-row{
    width: 100%;
}
.task-section-container .task-header-row .first-column{
   width: 30%;
}
.task-section-container .task-header-row .column{
    font-size: .5rem;
}
.task-section-container .task-header-row .column:first-child{
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-size: large;
    margin-right: 10px;
}
.task-section-container .task-header-row > .column:nth-child(2){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(3){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(4){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(5){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(6){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(7){
    width: 10%;
}
.task-section-container .task-header-row > .column:nth-child(8){
    width: 10%;
}
 /* task body*/
 .task-tasks-container{
     margin-left: 64px;
 }
 .task-body-row{
     margin-bottom: 2px;
     font-size: .5rem;
     width: 100%;
 }
.task-section-container .task-body-row .column:first-child{
    height: 10px;
    width: 10px;
    margin: 0 10px 0 10px;
}
.task-section-container .first-column{
    width: 30%;
}
.task-body-row .first-column .column p{
    white-space: initial;
    font-size: .8rem;
    line-height: 18px;
    padding: 5px 0;
    height: inherit;
}
 .task-body-row .first-column .column:nth-child(2) {
    height: 100%;
    width: 150px;
}
 .task-body-row span.material-icons-container{
     font-size: 1rem;
     height: 100%;
}
 .task-body-row .first-column .more-text-icon{
     display: flex;
     align-items: flex-end;
     height: 100%;
}
.task-section-container .task-body-row > .column:nth-child(2){
    width: 10%;
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    font-size: 14px;
}
.task-section-container .task-body-row > .column:nth-child(3){
    width: 10%;
}
.task-section-container .task-body-row > .column:nth-child(4){
    width: 10%;
}
.task-section-container .task-body-row > .column:nth-child(5){
    width: 10%;
}
.task-section-container .task-body-row > .column:nth-child(6){
    width: 10%;
}
.task-section-container .task-body-row > .column:nth-child(7){
    width: 10%;
}
.task-section-container .task-body-row > .column:nth-child(8){
    width: 10%;
}
.time-tracked-play-btn{
    color:#80C85B;
}
.task-body-row .user{
    width: 1.8rem;
    height: 1.8rem;
}
/* ----------task modification section----------------------------- */
/* task 1 */
.task-section-container .task-task-1{
    height: 100%;
    background: rgba(25, 25, 25, 0.93);
backdrop-filter: blur(30px);
height: 90px;
}
/* task-2 */
.task-section-container .task-task-2{
    height: 70px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
}
/* task-3 */
.task-section-container .task-task-3{
    background: rgba(25, 25, 25, 0.93);
backdrop-filter: blur(30px);
height: 50px;
}
/* todo task */
.todo-color{
    background-color: #E39600;
    color: white;
}
.todo-task-color{
    background-color: #E39600;
}
.todo-satus-color{
    background-color: #E39600;
    color: white;
    font-size: 1rem;
}
/* wait to review task */
.wait-review-color{
    background-color: #3082B7;
    color: white;
}
.wait-review-task-color{
    background-color: #3082B7;
}
.wait-review-satus-color{
    background-color: #3082B7;
    color: white;
    font-size: 1rem;
}
/* review unapproved task */
.unapproved-review-color{
    background-color: #E30000;
    color: white;
}
.unapproved-review-task-color{
    background-color: #E30000;
}
.unapproved-review-satus-color{
    background-color: #E30000;
    color: white;
    font-size: 1rem;
}


/* main-section-timer-pin-container */
.timer-pin-bottom-positioning-container{

}
.timer-pin-bottom-positioning-container{
    position: sticky;
    bottom: 0;
    right: 0;
}
.main-section-timer-pin-container .timer-container, .pin-container{
    background: linear-gradient(0deg, rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), radial-gradient(109% 109% at 50% 50%, rgba(71, 160, 150, 0.604167) 0%, rgba(117, 66, 66, 0.69) 100%);
border-radius: 10px;
margin-left: 10px;
}
.main-section-timer-pin-container .timer-container span{
    padding: 10px;
    margin-right: 5px;
}
.stop-icon-modify{
    color: red;
}
.pin-container span{
    padding: 10px;
}
/* ====================right section */
.right-section-main-container{
    line-height: 18px;
    background: linear-gradient(0deg, rgba(44, 44, 44, 1), rgba(44, 44, 44, 0.7)), linear-gradient(180deg, rgba(117, 66, 66, 0.69) 0%, rgba(71, 160, 150, 0.604167) 50%, rgba(87, 80, 13, 0) 100%);
color: #BCBCBC;
    height: 100%;
}
.right-section-container{
    padding: 20px;
    height: 100vh;
    overflow: scroll;
}
.right-todo-title-container{
    background-color: #E39600;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}
.right-todo-text-container p{
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    white-space: initial;
}
.right-description-container{
    margin-top: 20px;
    padding: 10px 10px;
    background: rgba(43, 41, 41, 0.4);
backdrop-filter: blur(20px);
    border-radius: 5px;
}
.right-section-container span.material-icons{
    margin-right: 5px;
}
.right-section-main-container h6{
    color: #6E6E6E;
}
.right-description-container p{
    white-space: initial;
    font-size: 14px;
    font-weight: 500;
}
.priority-urgent-container span{
    color: red;
}
.comments-container{
    flex-direction: column;
}
.comments-container hr{
    margin: 10px 0;
    color: white;
    width: 100%;
}
.comments-container h5{
    white-space: initial;
    font-size: 14px;
    font-weight: 400;
}
.videos-container h5{
    font-size: 14px;
    font-weight: 400;
    margin: 0 2px;
}
.videos-container .video-container,.attatchments-container .attatchment-container{
    margin: 20px 0;
}
.attatchment-container h5{
    white-space: initial;
}
.right-description-container:last-child{
    margin-bottom: 100px;
}
.attatchement-add-btn{
    background-color: rgb(255, 255, 255, 0.1);
    height: 50px;
    width: 180px;
    border-radius: 5px;
}

/* time track */
.time-track-main-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(32, 32, 32, 0.5);
backdrop-filter: blur(50px);
border: 1px solid rgba(255, 255, 255, 0.1);
}
.time-track-text-box h6{
    margin-right: 110px;
}
.expand-icon-modify{
    transform: rotate(180deg);
}
.timer-container{
    margin-top: 10px;
}
.timer-container span{
    margin-right: 10px;
}