@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
li{
    list-style: none;
}
hr{    
border: 1px solid rgba(255, 255, 255, 0.1);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
}
::-webkit-scrollbar {
    display: none;
}

/* main container */
main{
    
background: rgba(25, 25, 25, 0.93);
backdrop-filter: blur(30px);
    /* width: 1440px;
    height: 1024px; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75px 240px auto 240px;
}

/* ===========================left user section */
.left-user-section{
    height: 100%;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.7), rgba(44, 44, 44, 0.7)), linear-gradient(180deg, rgba(117, 66, 66, 0.69) 0%, rgba(71, 160, 150, 0.604167) 50%, rgba(87, 80, 13, 0) 100%);
}

.left-user-section nav{
    height: 100%;
    width: 100%;
}
.left-user-section nav li{
    height: 45px;
    width: 45px;
    background-color: #393A3A;
    margin:15px auto;
    border-radius: 15px;
}
.left-user-section nav li:first-child{
    margin-top:45px;
    background-color: #393838;
}
.left-user-section nav li:nth-child(2){
    background-color: #252423;
}
.left-user-section nav li .second-menu{
    color: white;
}
.left-user-section nav li .user{
    border-radius: 50%;
}

.left-user-section nav li a span{
    color: #9D9D9D;
    font-size: 20px;
}


/* ===========================left menus and projects section */
.left-menus-projects-fixed-section{
    overflow-y: auto;
    height: 100%;
    color: #BCBCBC;
    background: rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(50px);
    white-space: nowrap;
}
.left-menus-projects-section{
    overflow-y: scroll;
    height: 95vh;
}
/* top */
.left-menus-projects-section .quick-find-container{
    display: flex;
    align-items: center;
    margin: 30px 0 15px 24px;
}
.left-menus-projects-section .settings-members-container{
    display: flex;
    align-items: center;
    margin: 0 0 20px 24px;
}
.left-menus-projects-section .pinned-container{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 24px;
}
.left-menus-projects-section .pinned-container div{
    display: flex;
    align-items: center;
}
.left-menus-projects-section div p{
    font-size: 16px;
    margin: 0 0 0 15px;
}
.push-pin-modify{
    transform: rotate(40deg);
}
.arrow-modify{
    transform: rotate(-90deg);
}
/* projects */
.left-menus-projects-container{
    padding: 20px 20px 0 20px;
}
.projects-title-text{
    color: #545454;
}
.projects-folder-container, .projects-sub-folder-container, .projects-task-container{
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
}
.projects-sub-folder-container{
    margin-left: 18px;
}
.projects-task-container{
    margin-left: 40px;
}
.left-menus-projects-container .projects-last-folder{
    margin-bottom: 20px;
}
.left-menus-bottom-add-button{
    width: 100%;
    position: sticky;
    bottom: 0;
}
.left-menus-bottom-add-button div{
    padding: 30px 0 15px 24px;
    z-index: 10;
    background: rgba(32, 32, 32, 0.8);
    backdrop-filter: blur(50px);
}


/* ===========================main section*/
.main-section{
    overflow-y: scroll;
    color: #BCBCBC;
}
.main-section-top-bar{
    height: 80px;
    padding: 30px;
}
.search-box input{
    height: 40px;
    width: 266px;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
}
.users-container{
    margin-right: 5px;
}
.main-section-top-right span:not(:last-child){
    margin-left: 10px;
}
/*------------------------- user section--------------------------- */
.user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 0px;
    left: 0px;
}
.user p{
    font-size: 10px;
    font-weight: 900;
}
.user-1{
    left: 7px;
    background-color: #283237;
    color: white;
}
.user-2{
    left: 3px;
    background-color: #5B34E1;
    color: white;
    box-shadow: 0 0 0 3px #191919;
}
.user-3{
    left: 0px;
    background-color: #283237;
    color: #BCBCBC;
    box-shadow: 0 0 0 3px #191919;
}
.active-user::after{
    content: '';
    position: absolute;
    background-color: rgb(19, 158, 19);
    height: 10px;
    width: 10px;
    right: 3px;
    top: -3px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #191919;
}
/* second top bar */
.main-section-working-details-bar{
    height: 60px;
    padding-left: 52px;
}
.working-list-box{
    margin-right: 5%;
    color: white;
}
.working-list-box span{
    margin-right: 12px;
}
.working-board-box{
    margin-right: 10%;
    color: rgba(188, 188, 188, 0.5);
}
.working-board-box span{
    margin-right: 12px;
}
.working-users-container{
    margin-right: 54px;
}
.working-date-container{
    margin-right: 10%;
}
.working-date-container p{
    font-size: 12px;
}
.main-section-working-details-bar .flag{
    margin-right: 10%;
}
/* third bar design task */
.design-task-headline-container{
    height: 40px;
}
.design-task-headline-container h4{
    margin-left: 52px;
    color: rgba(255, 255, 255, 0.2);
}
/* main section todo */
.todo-section-container{
    width: 100%;
}
/* header task */
.todo-section-container .todo-header-row .first-column{
    width: 14vw;
}
.todo-section-container .todo-header-row .column{
    font-size: small;
}
.todo-section-container .todo-header-row .column:first-child{
    background-color: #E39600;
    padding: 5px 10px;
    color: white;
    border-radius: 5px 5px 0 0;
    margin-right: 3%;
    font-size: large;
}
.todo-section-container .todo-header-row > .column:nth-child(2){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(3){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(4){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(5){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(6){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(7){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-header-row > .column:nth-child(8){
    width: 60px;
    margin: 0 2%;
}
 /* todo body  all task*/
 .todo-body-row{
     margin-bottom: 2px;
 }
.todo-section-container .todo-task-1{
    height: 84px;
    background: rgba(25, 25, 25, 0.93);
backdrop-filter: blur(30px);
}
.todo-section-container .todo-body-row .column:first-child{
    background-color: #E39600;
    height: 10px;
    width: 10px;
    margin: 0 20px 0 10px;
}
.todo-section-container .first-column{
    width: 14vw;
    height: 84px;
}
.todo-body-row .first-column .column:nth-child(2) p{
    white-space: initial;
    font-size: .8rem;
    line-height: 18px;
    padding: 10px 0;
}
 .todo-body-row .first-column .column:nth-child(2) {
    height: 84px;
    width: 150px;
    overflow: hidden;
}
 .todo-body-row .first-column .more-text-icon{
     display: flex;
     align-items: flex-end;
     height: 100%;
}

.todo-section-container .todo-body-row > .column:nth-child(2){
    width: 60px;
    margin: 0 2%;
    height: 100%;
    background-color: #E39600;
    color: white;
}
.todo-section-container .todo-body-row > .column:nth-child(3){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-body-row > .column:nth-child(4){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-body-row > .column:nth-child(5){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-body-row > .column:nth-child(6){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-body-row > .column:nth-child(7){
    width: 60px;
    margin: 0 2%;
}
.todo-section-container .todo-body-row > .column:nth-child(8){
    width: 60px;
    margin: 0 2%;
}